/* ---- 상단바 ---- */

/* ---- 메인 컨텐츠 ---- */
main {
  padding-top: 124px; padding-bottom: 124px;
  padding-left: 80px; padding-right: 80px;
}

/* ul-nav / 섹션 상단 부분 */
.ul-nav {
  padding-bottom: 65px; padding-top: 65px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E1DED9;
}
.section-title {
  color: #333;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px; /* 120% */
}                 
.view-all {
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

/* amp-swiper / 섹션 하단 부분 */
.amp-swiper {
  display: flex;
  gap: 40px;
}

/* best-product-list01 / 리스트 */
.best-product-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
}

/* product-img / 이미지 박스 */
.product-img {
  background: #EBEBEB;
  height: 410px;
}
/* 텍스트 박스 */
.best-pruduct-name > a {
  padding-top: 40px; padding-bottom: 42px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.best-product-subhead {
  padding-bottom: 40px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
  border-bottom: 1px solid #E1DED9;
}
.best-price-volume {
  padding-top: 14px; padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.best-price {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px; /* 106.25% */
}
.best-volume-ml {
  display: flex;
  gap: 16px;
}
.best-volume-30ml {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px; /* 121.429% */
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.best-volume-60ml {
  color: #333;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
}
/* best-pro-btn / 버튼 */
.best-pro-btn {
  border: 1px solid #E1DED9;
  background-color: #fff;
  color: #212529;
  padding-top: 12px; padding-bottom: 12px;
  flex-grow: 1;
  transition: 0.6s;
}
.best-pro-btn:hover {
  background-color: #212529;
  color: #fff;
}

/* ---- 하단바 ---- */
