/* ---- 상단바 ---- */
header{
  border: 1px solid red;
}

/* ---- 메인 컨텐츠 ---- */
main {
  border: 1px solid red;
  padding-top: 124px; padding-bottom: 124px;
  padding-left: 80px; padding-right: 80px;
}

/* ul-nav / 섹션 상단 부분 */
.ul-nav {
  border: 1px solid orange;
  padding-bottom: 65px; padding-top: 65px;
  display: flex;
  justify-content: space-between;
}
.section-title {
  border: 1px solid green;
  color: #333;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px; /* 120% */

  /* font-family: Raleway; */
  /* font-style: normal; */
}                 
.view-all {
  border: 1px solid green;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */

  /* font-family: Raleway; */
  /* font-style: normal; */
}

/* amp-swiper / 섹션 하단 부분 */
.amp-swiper {
  border: 1px solid orange;
  display: flex;
  gap: 40px;
}

/* best-product-list01 / 리스트 */
.best-product-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.best-product-list01 {border: 4px solid red; }
.best-product-list02 {border: 4px solid rgb(255, 117, 117); }
.best-product-list03 {border: 4px solid rgb(175, 28, 28); }
.best-product-list04 {border: 4px solid rgb(69, 11, 11); }

/* product-img / 이미지 박스 */
.product-img {
  background: #EBEBEB;
  height: 410px;
}
/* 텍스트 박스 */
.best-pruduct-name {
  border: 1px solid orange; 
  padding-top: 40px; padding-bottom: 42px;
}
.best-product-subhead {
  border: 1px solid orange;
  padding-bottom: 40px;
}
.best-price-volume {
  border: 1px solid orange;
  padding-top: 14px; padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.best-price {
  border: 1px solid orange;
}
.best-volume-ml {
  border: 1px solid orange;
  display: flex;
  gap: 16px;
}
.best-volume-30ml {
  border: 1px solid orange;
}
.best-volume-60ml {
  border: 1px solid orange;
}
/* best-pro-btn / 버튼 */
.best-pro-btn {
  /* border: 1px solid orange; */
  background-color: #fff;
  color: #212529;
  padding-top: 12px; padding-bottom: 12px;
  flex-grow: 1;
  transition: 0.6s;
}
.best-pro-btn:hover {
  background-color: #212529;
  color: #fff;
}

/* ---- 하단바 ---- */
footer {
  border: 1px solid red;
}