.sct01 {
  height: 100vh;
  background: #dbdbdb;
}
.sct02 {
  height: 100vh;
  background: #bababa;
}
.sct03 {
  height: 100vh;
  background: #9e9e9e;
}
.sct04 {
  height: 100vh;
  background: #818181;
}
.sct05 {
  height: 100vh;
  background: #595959;
}
.sct06 {
  height: 100vh;
  background: #343434;
}